@* このテンプレートの引数 *@
@(users: Seq[models.Users])(implicit request: Request[Any])

@* テンプレートで利用可能なヘルパーをインポート *@
@import helper._

@* main.scala.htmlを呼び出す *@
@main("ユーザ一覧") {

    <div>
        <a href="@routes.UserController.edit()" class="btn btn-success" role="button">新規作成</a>
    </div>

    <div class="col-xs-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @* ユーザの一覧をループで出力 *@
                @users.map { user =>
                    <tr>
                        <td>@user.id</td>
                        <td><a href="@routes.UserController.edit(Some(user.id))">@user.name</a></td>
                        <td>@helper.form(CSRF(routes.UserController.remove(user.id))){
                            <input type="submit" value="削除" class="btn btn-danger btn-xs"/>
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}